{% extends "layout.html" %}

{% block content %}
{%import "_macros.html" as macros}

<form action="" method="Post", novalidate>
    {{form.csrf_token}}

    <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
    <div class="m-3">
        {{macros.campoNuevo(form.matricula,class='form-control')}}
    </div>
    <div class="m-3">
        {{macros.campoNuevo(form.nombre,class='form-control')}}
    </div>
    <div class="m-3">
        {{macros.campoNuevo(form.apaterno,class='form-control')}}
    </div>
    <div class="m-3">
        {{macros.campoNuevo(form.amaterno,class='form-control')}}
    </div>
    <div class="m-3">
        {{macros.campoNuevo(form.correo,class='form-control')}}
    </div>
    <button class="btn btn-primary" type="sumit">Guardar</button>
</form>

    <h1>Matricula: {{mat}}</h1>
    <h1>nombre: {{nom}}</h1>
    <h1>apaterno: {{apa}}</h1>
    <h1>amaterno: {{ama}}</h1>
    <h1>correo: {{email}}</h1>
{% endblock %}